doctype html

html(lang='en')
  head
    style.
      button {
        background-color: #4C8BF5;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        border-color: rgb(0, 107, 214);
        cursor: pointer;
      }
      button:hover {
        background-color: rgb(0, 97, 194);
        border-color: rgb(0, 77, 153);
      }
  body
    h3 Connect to tenant
    form(role='form' method='GET' action='/login')
        button.btn.btn-primary(type="submit", name="submit") Connect
    