doctype html

html(lang='en')
  head
    style.
      table {
        width: 80%;
      }
      tbody td, th {
        padding: 10px;
      }
      tbody tr:nth-child(odd) {
        background-color: #4C8BF5;
        color: #fff;
      }
  body
    h3 Users in tenant
    table.table.table-striped
      tr
        th ID
        th Name
        th Email

      each u in users
        tr
          td= u.id
          td= u.displayName
          td= u.mail