extends layout.pug

block content
  h3 Users in tenant
  table.table.table-striped
    tr
      th ID
      th Name
      th Email

    each u in users
      tr
        td= u.id
        td= u.displayName
        td= u.mail

  p
  form(role='form' method='GET' action='/update_user')
      input(type="hidden", name="accessToken", value=accessToken)
      input(type="hidden", name="userId", value="2331fe89-6498-41f1-9b54-a09db997e4e7")
      button.btn.btn-primary(type="submit", name="submit") Update "Test" user >